<%= content_for :og do %>
  <meta property="og:title" content="<%= @event.name %>" />
  <meta property="og:site_name" content="<%= configuration.site_title %>" />
  <meta property="og:description" content="<%= smart_truncate(@event.description, 200) %>" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:image" content="<%= configuration.site_url + '/assets/facebook_size_logo.jpg' %>" />
<% end %>

<%= content_for :page_title do @event.name end %>

<%= content_for :page_id do 'event' end %>

<%= content_for :content do %>
  <!-- CONTENT BEGIN -->
  <div id="content_wrapper">
    <div id="content_shadow"></div>
    <div id="content_gradiente"></div>

    <div id="content">
      <div id="content_header">
        <ul class="breadcrumbs">
          <li><%= link_to 'Início', root_path %></li>
          <li><%= link_to 'Eventos e oportunidades', events_and_opportunities_path %></li>
          <li><%= link_to 'Eventos', events_path %></li>
          <li><span><%= truncate(@event.name, :length => 100) %></span></li>
        </ul>

        <hr />

        <div class="header">
          <h2><%= @event.name %></h2>

          <p class="info">
            <strong class="date">
              <%= @event.date.strftime('%d de %B de %Y') %>
              <% if @event.end_date and @event.date != @event.end_date %>
                até <%= @event.end_date.strftime('%d de %B de %Y') %>
              <% end %>
            </strong>
            <% if @event.local %>
              <br /><span class="local"><%= @event.local %></span>
            <% end %>
          </p>

          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style " addthis:url="<%= request.url %>" addthis:title="<%= @event.name %>">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-502149e70cee4a2b"></script>
          <!-- AddThis Button END -->
        </div>
      </div>

      <div id="main_content">
        <div class="post">
          <% if @event.image.exists? %>
            <p class="pretty_image">
              <%= image_tag @event.image.url(:big),
                :alt => @event.name, :size => '250x250' %>
            </p>
          <% end %>
          <%= @event.description.html_safe if @event.description %>
        </div>
      </div>

      <div id="sidebar">
        <%= render :partial => 'widgets/events', :locals => { :title => 'Mais eventos' } %>

        <div class="sidebar_detail"></div>
      </div>

    </div>
  </div>
  <!-- CONTENT END -->

<% end %>
