<div class="sidebar_box_wrapper" id="submit_post_box">
  <div class="sidebar_box">
    <h3>Envie seu artigo</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit
    faucibus neque, eget mollis odio aliquet non.</p>

    <p class="buttom">
      <%= link_to 'Envie agora', new_post_path %>
    </p>
  </div>
</div>

<% if configuration.ad_published %>
  <div class="sidebar_box_wrapper" id="custom_box">
    <div class="sidebar_box">
      <p class="buttom">
        <%= link_to 'Acesse agora', configuration.ad_url,
          :target => ('_blank' if configuration.ad_new_tab) %>
      </p>
    </div>
  </div>
<% end %>

<%= render :partial => 'facebook_box' %>

<% unless @events.empty? %>
  <div class="sidebar_panel" id="events_panel">
    <h3><%= link_to 'Eventos', events_path %></h3>

    <ul>
      <% @events.each do |e| %>
        <li>
          <span class="date"><%= e.date.strftime('%d/%m') %></span>
          <%= link_to e.name, event_path(e) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @opportunities.empty? %>
  <div class="sidebar_panel" id="opportunities_panel">
    <h3><%= link_to 'Oportunidades', opportunities_path %></h3>

    <ul>
      <% @opportunities.each do |o| %>
        <li><%= link_to o.title, opportunity_path(o) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
