<div class="sidebar_box_wrapper" id="submit_post_box">
  <div class="sidebar_box">
    <h3>Envie seu artigo</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit
    faucibus neque, eget mollis odio aliquet non.</p>

    <p class="buttom">
      <%= link_to 'Envie agora', new_post_path %>
    </p>
  </div>
</div>

<div class="sidebar_box_wrapper" id="custom_box">
  <div class="sidebar_box">
    <p class="buttom">
      <a href="#">Acesse agora</a>
    </p>
  </div>
</div>

<%= render :partial => 'facebook_box' %>

<% unless @events.empty? %>
  <div class="sidebar_panel" id="events_panel">
    <h3><a href="#">Eventos</a></h3>

    <ul>
      <% @events.each do |e| %>
        <li>
          <span class="date"><%= e.date.strftime('%d/%m') %></span>
          <%= link_to e.name, '#' %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @opportunities.empty? %>
  <div class="sidebar_panel" id="opportunities_panel">
    <h3><a href="#">Oportunidades</a></h3>

    <ul>
      <% @opportunities.each do |o| %>
        <li><%= link_to o.title, '#' %></li>
      <% end %>
    </ul>
  </div>
<% end %>
