<%= content_for :page_title do 'Eventos e oportunidades' end %>

<%= content_for :page_id do 'events_and_opportunities' end %>

<%= content_for :content do %>
  <!-- CONTENT BEGIN -->
  <div id="content_wrapper">
    <div id="content_shadow"></div>
    <div id="content_gradiente"></div>

    <div id="content">
      <div id="content_header">
        <ul class="breadcrumbs">
          <li><%= link_to 'Início', root_path %></li>
          <li><span>Eventos e oportunidades</span></li>
        </ul>

        <hr />

        <div class="header">
          <h2>Eventos e oportunidades</h2>
        </div>
      </div>

      <div id="main_content">
        <% unless @events.limit(6).empty? %>
          <h2>Eventos em destaque</h2>

          <ul class="events_list">
            <% @events.limit(6).each do |e| %>
              <li>
                <div class="date">
                  <p>
                    <span class="day"><%= e.date.strftime('%d') %></span>
                    <span class="month"><%= localize e.date, :format => '%b' %></span>
                  </p>
                </div>

                <div class="event_content">
                  <h3><%= link_to e.name, event_path(e) %></h3>

                  <% if e.image.exists? %>
                    <p class="image">
                      <%= image_tag e.image.url(:event_list_image),
                        :alt => e.name, :size => '120x120' %>
                    </p>
                  <% end %>

                  <% if e.description %>
                    <p class="resume">
                      <%= smart_truncate(e.description, 200) %>
                    </p>
                  <% end %>

                  <p class="more"><%= link_to 'Mais informações', event_path(e) %></p>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>

        <% if @events.length > 6 %>
          <hr />

          <p class="buttom"><%= link_to 'Mais eventos', events_path %></a></p>
        <% end %>
      </div>

      <div id="sidebar">
        <% unless @opportunities.limit(6).empty? %>
          <h2>oportunidades</h2>

          <ul class="opportunities_list">
            <% @opportunities.limit(6).each do |o| %>
              <li>
                <h3><%= link_to o.title, opportunity_path(o) %></h3>

                <% if o.content %>
                  <p class="resume">
                    <%= smart_truncate(o.content, 200) %>
                  </p>
                <% end %>

                <p class="more"><%= link_to 'Mais informações', opportunity_path(o) %></p>
              </li>
            <% end %>
          </ul>
        <% end %>

        <% if @opportunities.length > 6 %>
          <hr />

          <p class="buttom"><%= link_to 'Mais oportunidades', opportunities_path %></a></p>
        <% end %>

        <div class="sidebar_detail"></div>
      </div>

    </div>
  </div>
  <!-- CONTENT END -->

<% end %>
