<%= content_for :page_title do 'Principal' end %>

<%= content_for :page_id do 'post' end %>

<%= content_for :content do %>
  <!-- CONTENT BEGIN -->
  <div id="content_wrapper">
    <div id="content_shadow"></div>
    <div id="content_gradiente"></div>

    <div id="content">
      <div id="content_header">
        <ul class="breadcrumbs">
          <li><%= link_to 'Início', root_path %></li>
          <li><%= link_to 'Postagens', '#' %></li>
          <li><%= link_to 'O Implicante', '#' %></li>
          <li><span>Lorem ipsum dolor sit amet consectetur</span></li>
        </ul>

        <hr />

        <div class="header">
          <h2>Lorem ipsum dolor sit amet consectetur</h2>

          <p class="info">
            Publicado originalmente em: <%= link_to 'O Implicante' %> |
            27 de Julho de 2012.
          </p>

          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_pinterest_pinit"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-502bce3730e2d045"></script>
          <!-- AddThis Button END -->
        </div>
      </div>

      <div id="main_contet">

        <div class="post">
            <div class="hilight_wrapper">
              <p class="hilight">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras neque
                sapien, lobortis id interdum quis, pellentesque ac erat. Ut a elit
                magna, non rutrum purus.
              </p>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras neque
            sapien, lobortis id interdum quis, pellentesque ac erat. Ut a elit
            magna, non rutrum purus. Nullam faucibus erat quis leo semper sodales
            pulvinar elit tempus. Aenean ligula lorem, elementum eu vulputate
            molestie, rhoncus sit amet felis. In sed libero et mi hendrerit
            condimentum vitae ut erat. Vestibulum consequat ligula vel ante
            faucibus ut ultrices ipsum semper. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Aliquam vitae tortor eget ante sodales
            cursus in ut risus.</p>

            <p>Quisque a turpis mi. Pellentesque erat felis, malesuada ut
            imperdiet sit amet, ornare ac ipsum. Quisque sed pretium mauris. Donec
            ipsum velit, lobortis at volutpat eu, convallis in leo. Duis sed
            gravida libero. Phasellus luctus porttitor varius. Aenean eget massa
            et neque ultrices pretium. Quisque dapibus molestie semper. Duis
            faucibus, mi ut aliquam placerat, sem nulla aliquam libero, a
            tincidunt justo arcu non purus. Aliquam eget ipsum quam, in tempus
            justo. Praesent sodales euismod leo, eu consectetur metus vestibulum
            a. Aliquam vitae facilisis augue. Quisque quam erat, fermentum in
            mollis et, porttitor nec sapien. Fusce euismod aliquet urna at
            tincidunt. Suspendisse et sem id nisi egestas posuere vestibulum sit
            amet mauris. Aliquam mollis mattis tellus, eget volutpat nunc
            pretium sed.</p>

            <p>Suspendisse molestie elementum nibh et adipiscing. Vestibulum at
            eros justo. Phasellus sapien magna, adipiscing vel iaculis eget,
            dapibus ac justo. Maecenas eget neque nunc. Cras congue mi at massa
            tempus et tristique odio commodo. Quisque metus eros, lacinia tempor
            consectetur vitae, feugiat in risus. Aliquam mollis lobortis dolor in
            laoreet. Integer sit amet ullamcorper lacus. Maecenas scelerisque,
            lectus id blandit viverra, magna metus sollicitudin sapien, ut
            porttitor dolor libero ut velit. Morbi vel justo nec ligula
            condimentum pharetra. Proin luctus, velit eget suscipit tristique,
            turpis justo tempor leo, vel bibendum dolor lacus eget libero. Proin
            cursus tortor non justo tempus at varius turpis fringilla. Etiam
            pellentesque, diam vitae eleifend condimentum, mi nisl rhoncus velit,
            et vestibulum dui tortor sit amet metus. Donec eros arcu, convallis
            quis ullamcorper vitae, scelerisque eget augue. In semper, sapien in
            vulputate euismod, elit risus porta ipsum, sit amet placerat augue
            magna vel odio. Integer dictum convallis lacus nec dapibus.</p>

            <p>Quisque a turpis mi. Pellentesque erat felis, malesuada ut
            imperdiet sit amet, ornare ac ipsum. Quisque sed pretium mauris. Donec
            ipsum velit, lobortis at volutpat eu, convallis in leo. Duis sed
            gravida libero. Phasellus luctus porttitor varius. Aenean eget massa
            et neque ultrices pretium. Quisque dapibus molestie semper. Duis
            faucibus, mi ut aliquam placerat, sem nulla aliquam libero, a
            tincidunt justo arcu non purus. Aliquam eget ipsum quam, in tempus
            justo. Praesent sodales euismod leo, eu consectetur metus vestibulum
            a. Aliquam vitae facilisis augue. Quisque quam erat, fermentum in
            mollis et, porttitor nec sapien. Fusce euismod aliquet urna at
            tincidunt. Suspendisse et sem id nisi egestas posuere vestibulum sit
            amet mauris. Aliquam mollis mattis tellus, eget volutpat nunc
            pretium sed.</p>
        </div>

        <p class="post_categories">
          <a href="#">Economia</a>, <a href="#">Escola Austŕiaca</a> e
          <a href="#">Ciclos Econômicos</a>
        </p>

      </div>

      <div id="sidebar">
        <%= render :partial => 'post_sidebar' %>
      </div>

    </div>
  </div>
  <!-- CONTENT END -->

<% end %>
