<% unless posts.empty? %>
  <ul class="posts">
    <% posts.each do |p| %>
      <li>
        <div class="thumb">
          <a href="<%= post_path(p.id) %>">
            <% if (not p.blog.nil? and p.blog.image?) %>
              <%= image_tag p.blog.image.url(:thumb), :alt => p.title,
                :size => '150x150' %>
            <% else %>
              <%= image_tag '/assets/liberdadebr_blog_thumb.png',
                :alt => p.title, :size => '150x150' %>
            <% end %>
          </a>
        </div>

        <div class="post_info">
          <h3><%= link_to p.title, post_path(p.id) %></h3>

          <p class="info">
            <% "#{p.blog} | " if p.blog %>
            <%= p.published_at.strftime('publicado %d de %B de %Y') %>.
          </p>

          <% if p.content %>
            <div class="resume">
              <p><%= smart_truncate(p.content, 200) %></p>
            </div>
          <% end %>

          <% if p.blog %>
            <p class="links">
              <%= link_to'Visitar o blog', p.blog.link, :target => '_blank' %> |
              <%= link_to'Mais posts deste blog', posts_blog_path(p.blog) %>
            </p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
