<% unless (authors = post.authors).empty? %>
  <div class="sidebar_box_wrapper">
    <div class="sidebar_box">
      <h3><%= authors.length == 1 ? 'Autor' : 'Autores' %> deste post</h3>

      <ul>
        <% authors.each do |a| %>
          <li><%= link_to a.name, posts_author_path(a) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="sidebar_box_wrapper">
  <div class="sidebar_box">
    <h3>Posts em destaque</h3>

    <ul>
      <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
      <li><a href="#">Ipsum dolor sit consectetur</a></li>
      <li><a href="#">Consectetur ipsum dolor sit</a></li>
      <li><a href="#">Ipsum dolor sit consectetur</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
      <li><a href="#">Consectetur ipsum dolor sit</a></li>
    </ul>
  </div>
</div>

<% if not (blog = post.blog).nil? and not blog.description.blank? %>
  <div class="sidebar_box_wrapper">
    <div class="sidebar_box">
      <h3><%= blog.name %></h3>

      <p>
        <% if blog.image.exists? %>
          <%= image_tag blog.image.url(:thumb), :alt => blog.name,
            :size => '150x150', :class => 'image_box' %>
        <% end %>
        <%= blog.description.html_safe %>
      </p>

      <p class="buttom">
        <%= link_to 'Veja mais posts deste blog', posts_blog_path(blog) %>
      </p>
    </div>
  </div>
<% end %>

<div class="sidebar_box_wrapper">
  <div class="sidebar_box">
    <h3>Liberdade.br no Facebook</h3>

    <div class="iframe">
      <div class="fb-like-box" data-href="http://www.facebook.com/liberdadebr" data-width="320" data-show-faces="true" data-border-color="#fff" data-stream="false" data-header="false"></div>
    </div>
  </div>
</div>
