<%= content_for :page_title do @page.title end %>

<%= content_for :page_id do 'send_post' end %>

<%= content_for :content do %>
  <!-- CONTENT BEGIN -->
  <div id="content_wrapper">
    <div id="content_shadow"></div>
    <div id="content_gradiente"></div>

    <div id="content">
      <div id="content_header">
        <ul class="breadcrumbs">
          <li><%= link_to 'Início', root_path %></li>
          <li><span>Enviar artigo</span></li>
        </ul>

        <hr />

        <div class="header">
          <h2><%= @page.title %></h2>
        </div>
      </div>

      <div id="main_content">
        <%= tinymce_assets %>
        <script type="text/javascript">
          tinyMCE.init({
              mode: 'textareas',
              language: 'br',
              theme: 'advanced',
              theme_advanced_buttons1 : 'bold,italic,underline,|,bullist,numlist,|,link,unlink',
              theme_advanced_toolbar_location: 'top',
              theme_advanced_toolbar_align: 'left',
              theme_advanced_statusbar_location : 'none',
          });
        </script>

        <%= simple_form_for(@post, :url => send_post_path) do |f| %>
          <%= content_tag(:p, notice, :class => 'notice') if notice %>

          <div class="inputs">
            <%= f.input :title %>
            <%= f.input :content, :as => :text %>
            <%= f.input :authors, :label => 'Nomes dos autores',
              :hint => 'Separados por vírgula',
              :input_html => { :value => @authors_input_value } %>
            <%= f.input :categories, :label => 'Categorias',
              :hint => 'Separadas por vírgula',
              :input_html => { :value => @categories_input_value } %>
            <%= recaptcha_tags :display => {:theme => 'red' , :tabindex => '8' } %>
            <% if @recaptcha_error.present? %>
              <div class="input"><span class="error"><%= @recaptcha_error %></span></div>
            <% end %>
          </div>
          <div class="actions">
            <p class="buttom"><%= f.button :submit, 'Enviar' %></p>
          </div>
        <% end %>
      </div>

      <div id="sidebar">
        <div class="post">
          <%= @page.content.html_safe if @page.content %>
        </div>

        <div class="sidebar_detail"></div>
      </div>
    </div>
  </div>
<% end %>
