<%= content_for :og do %>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:site_name" content="<%= configuration.site_title %>" />
  <meta property="og:description" content="<%= smart_truncate(@post.content, 150) %>" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:image" content="<%= configuration.site_url + '/assets/facebook_size_logo.jpg' %>" />
  <meta property="og:type" content="article" />
<% end %>

<%= content_for :page_title do @post.title end %>

<%= content_for :page_id do 'post' end %>

<% if current_user %>
  <%= content_for :moderator_actions do %>
    <div class="rates">
      <p class="approval" style="width: <%= @post.approval_rate.to_i %>%"><%= @post.approval_rate.to_i %>%</p>
      <p class="reproval" style="width: <%= @post.reproval_rate.to_i %>%"><%= @post.reproval_rate.to_i %>%</p>
    </div>

    <ul class="actions">
      <li class="buttom"><%= link_to 'Aprovar', approve_post_path(@post, current_user),
        :method => :post, :class => ('active' if @voted_approve), :id => 'approve_post' %></li>

      <li class="buttom"><%= link_to 'Reprovar', reprove_post_path(@post, current_user),
        :method => :post, :class => ('active' if @voted_approve == false), :id => 'reprove_post' %></li>

      <li class="buttom"><%= link_to 'Voltar para administração', session[:return_to_admin_url] || '/admin/post' %></li>
    </ul>
  <% end %>
<% end %>

<%= content_for :content do %>
  <!-- CONTENT BEGIN -->
  <div id="content_wrapper">
    <div id="content_shadow"></div>
    <div id="content_gradiente"></div>

    <div id="content">
      <div id="content_header">
        <ul class="breadcrumbs">
          <li><%= link_to 'Início', root_path %></li>
          <li><%= link_to 'Posts', posts_path %></li>
          <% if @post.blog %>
            <li><%= link_to @post.blog.name, posts_blog_path(@post.blog) %></li>
          <% end %>
          <li><span><%= truncate(@post.title, :length => 80) %></span></li>
        </ul>

        <hr />

        <div class="header">
          <h2><%= @post.title %></h2>

          <p class="info">
            Publicado originalmente em:
            <% if @post.blog %>
              <%= link_to @post.blog.name, @post.blog.link, :target => '_blank',
                :class => 'blog_name' %> |
            <% end %>
            <%= localize (@post.published_at), :format => '%d de %B de %Y' %>.

            <% unless (authors = @post.authors).empty? %>
              <br />
              Por <%= (authors.collect { |a| link_to(a.name, posts_author_path(a)) }).
                to_sentence.html_safe %>.
            <% end %>
          </p>

          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style " addthis:url="<%= request.url %>" addthis:title="<%= @post.title %>">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-502149e70cee4a2b"></script>
          <!-- AddThis Button END -->
        </div>
      </div>

      <div id="main_content">
        <div class="post">
          <% if @post.hilight %>
            <div class="hilight_wrapper">
              <p class="hilight"><%= @post.hilight %></p>
            </div>
          <% end %>

          <%= @post.content.html_safe if @post.content %>
        </div>

        <% unless @post.categories.empty? %>
          <div class="post_categories">
            <h3>Categorias</h3>

            <p><%= (@post.categories.collect { |c| link_to(c.name, posts_category_path(c)) }).
              to_sentence.html_safe %></p>
          </div>
        <% end %>

        <hr />

        <div class="fb-comments" data-href="<%= request.url %>" data-num-posts="2" data-width="530"></div>
      </div>

      <div id="sidebar">
        <%= render :partial => 'widgets/advertising' %>
        <%= render :partial => 'widgets/facebook_likebox' %>
        <%= render :partial => 'widgets/twitter' %>
        <%= render :partial => 'widgets/posts' %>
        <%= render :partial => 'widgets/blog', :locals => { :blog => @post.blog } %>
      </div>
    </div>
  </div>
  <!-- CONTENT END -->

<% end %>
