<%= content_for :og do %>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:site_name" content="<%= configuration.site_title %>" />
  <meta property="og:description" content="<%= @post.hilight %>" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:image" content="<%= configuration.site_url + '/assets/facebook_size_logo.jpg' %>" />
  <% if current_user %>
    <meta property="fb:app_id" content="508974272450177"/>
  <% end %>
<% end %>

<%= content_for :page_title do @post.title end %>

<%= content_for :page_id do 'post' end %>

<%= content_for :content do %>
  <!-- CONTENT BEGIN -->
  <div id="content_wrapper">
    <div id="content_shadow"></div>
    <div id="content_gradiente"></div>

    <div id="content">
      <div id="content_header">
        <ul class="breadcrumbs">
          <li><%= link_to 'Início', root_path %></li>
          <li><%= link_to 'Posts', posts_path %></li>
          <% if @post.blog %>
            <li><%= link_to @post.blog.name, posts_blog_path(@post.blog) %></li>
          <% end %>
          <li><span><%= @post.title %></span></li>
        </ul>

        <hr />

        <div class="header">
          <h2><%= @post.title %></h2>

          <p class="info">
            Publicado originalmente em:
            <% if @post.blog %>
              <%= link_to @post.blog.name, @post.blog.link, :target => '_blank' %> |
            <% end %>
            <%= @post.published_at.strftime('%d de %B de %Y') %>.
          </p>

          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style " addthis:url="<%= request.url %>" addthis:title="<%= @post.title %>">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-502149e70cee4a2b"></script>
          <!-- AddThis Button END -->
        </div>
      </div>

      <div id="main_content">
        <div class="post">
          <% if @post.hilight %>
            <div class="hilight_wrapper">
              <p class="hilight"><%= @post.hilight %></p>
            </div>
          <% end %>

          <%= @post.content.html_safe if @post.content %>
        </div>

        <% unless @post.categories.empty? %>
          <p class="post_categories">
            <%= (@post.categories.collect { |c| link_to(c.name, posts_category_path(c)) }).
              to_sentence.html_safe %>
          </p>
        <% end %>

      </div>

      <div id="sidebar">
        <%= render :partial => 'post_sidebar', :locals => { :post => @post } %>
      </div>
      <div class="fb-comments" data-href="<%= request.url %>" data-num-posts="2" data-width="530"></div>
    </div>
  </div>
  <!-- CONTENT END -->

<% end %>
