<%= content_for :page_title do 'Oportunidades' end %>

<%= content_for :page_id do 'opportunities' end %>

<%= content_for :content do %>
  <!-- CONTENT BEGIN -->
  <div id="content_wrapper">
    <div id="content_shadow"></div>
    <div id="content_gradiente"></div>

    <div id="content">
      <div id="content_header">
        <ul class="breadcrumbs">
          <li><%= link_to 'Início', root_path %></li>
          <li><%= link_to 'Eventos e oportunidades', events_and_opportunities_path %></li>
          <li><span>Oportunidades</span></li>
        </ul>

        <hr />

        <div class="header">
          <h2>Oportunidades</h2>
        </div>
      </div>

      <div id="main_content">
        <% unless @opportunities.empty? %>
          <ul class="opportunities_list">
            <% @opportunities.limit(6).each do |o| %>
              <li>
                <h3><%= link_to o.title, opportunity_path(o) %></h3>

                <% if o.content %>
                  <p class="resume">
                    <%= smart_truncate(o.content, 200) %>
                  </p>
                <% end %>

                <p class="more"><%= link_to 'Mais informações', opportunity_path(o) %></p>
              </li>
            <% end %>
          </ul>
        <% end %>

        <hr />

        <%= paginate @opportunities, :window => 2 %>
      </div>

      <div id="sidebar">
        <%= render :partial => 'widgets/events' %>

        <div class="sidebar_detail"></div>
      </div>

    </div>
  </div>
  <!-- CONTENT END -->
<% end %>
