<!DOCTYPE html>

<html>
<head>
  <title>Liberdade.br - <%= yield :page_title %></title>

  <%= auto_discovery_link_tag :atom, feed_url %>
  <%= auto_discovery_link_tag :rss, feed_url(:format => 'rss') %>

  <meta content='http://algorich.com.br' name='author' />

  <% unless configuration.keywords.blank? %>
    <meta content="<%= configuration.keywords %>" name="keywords" />
  <% end %>

  <% unless configuration.description.blank? %>
    <meta content="<%= configuration.description %>" name="description" />
  <% end %>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta content='http://algorich.com.br' name='author' />

  <% if params[:action] == 'post' and params[:controller] == 'site'  %>
    <%= yield :og %>
  <% else %>
    <% unless configuration.site_title.blank? %>
      <meta property="og:title" content="<%= configuration.site_title %>" />
    <% end %>
    <% unless configuration.description.blank? %>
      <meta property="og:description" content="<%= configuration.description %>" />
    <% end %>
    <% unless configuration.site_url.blank? %>
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:image" content="<%= configuration.site_url + '/assets/facebook_size_logo.jpg' %>" />
    <% end %>
  <% end %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= stylesheet_link_tag 'application.css' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tag %>

  <% if configuration.google_analytics %>
    <script type="text/javascript">
      <%= configuration.google_analytics.html_safe %>
    </script>
  <% end %>
</head>

<body id="<%= yield :page_id %>_page" <%= 'class="logged"'.html_safe if current_user %>>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=262195510560295";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapper">

  <!-- MODERATOR ACTIONS BEGIN -->
  <div id="moderator_actions">
    <%= yield :moderator_actions %>
  </div>
  <!-- MODERATOR ACTIONS END -->

  <!-- HEADER BEGIN -->
  <div id="header_wrapper">
    <div id="header">
      <h1><%= link_to image_tag('/assets/logo.png', :alt => 'Liberdade.br',
        :size => '300x105'), root_path %></h1>
      <% financers_page = Page.get_page(:financers) %>
      <% if financers_page and financers_page.published? %>
        <%= link_to 'Veja a lista completa das pessoas que financiaram esta iniciativa', financers_path, :id => 'partners_page_link' %>
      <% end %>
    </div>
  </div>
  <!-- HEADER END -->

  <!-- MAIN NAVIGATION BEGIN -->
  <div id="main_navigation_wrapper">
    <ul id="main_navigation">
      <% li_class = (request.path == root_path) ? 'active' : '' %>
      <li class="home_item <%= li_class %>">
        <%= link_to '<strong><span>Principal</span></strong>'.html_safe, root_path %>
      </li>

      <% about_page = Page.get_page(:about) %>
      <% if about_page and about_page.published? %>
        <% li_class = (request.path == about_path) ? 'active' : '' %>
        <li class="info_item <%= li_class %>">
          <%= link_to "<strong><span>#{about_page.title}</span></strong>".html_safe, about_path %>
        </li>
      <% end %>

      <% faq_page = Page.get_page(:faq) %>
      <% if faq_page and faq_page.published? %>
        <% li_class = (request.path == faq_path) ? 'active' : '' %>
        <li class="faq_item <%= li_class %>">
          <%= link_to "<strong><span>#{faq_page.title}</span></strong>".html_safe, faq_path %>
        </li>
      <% end %>

      <% li_class = (request.path == events_and_opportunities_path) ? 'active' : '' %>
      <li class="events_item <%= li_class %>">
        <%= link_to '<strong><span>Eventos e oportunidades</span></strong>'.html_safe,
          events_and_opportunities_path %>
      </li>

      <li class="share_item">
        <%= link_to '<strong><span>Divulgue</span></strong>'.html_safe, 'javascript:void(0);' %>

        <div class="navigation_box_wrapper">
          <div class="navigation_box">
            <div class="content">
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<%= configuration.site_url %>" addthis:title="<%= configuration.site_title %>">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_google_plusone_share"></a>
                <a class="addthis_button_email"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
              </div>
              <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-501fc6f92d416cf0"></script>
              <!-- AddThis Button END -->
            </div>
          </div>
        </div>
      </li>

      <li class="donate_item">
        <%= link_to '<strong><span>Faça uma doação</span></strong>'.html_safe, 'javascript:void(0);' %>

        <style type="text/css">
          ul#main_navigation .navigation_box .progress_bar .bar span {
            width: <%= (configuration.donation_collected * 200 / configuration.donation_goal).to_i %>px
          }
        </style>

        <div class="navigation_box_wrapper">
          <div class="navigation_box">
            <div class="content">
              <p><%= configuration.donation_text %></p>

              <hr />

              <div class="progress_bar">
                <p class="bar"><span></span></p>
                <p class="goal">
                  <span><%= number_to_currency(configuration.donation_goal) %></span>
                </p>
                <p class="collected"><span><%= number_to_currency(configuration.donation_collected) %></span></p>
              </div>

              <hr />

              <p class="buttom">
                <a href="<%= configuration.donation_link %>">Faça uma doação</a>
              </p>
            </div>
          </div>
        </div>
      </li>

      <% contact_page = Page.get_page(:contact) %>
      <% if contact_page and contact_page.published? %>
        <% li_class = (request.path == contact_path) ? 'active' : '' %>
        <li class="contact_item <%= li_class %>">
          <%= link_to "<strong><span>#{contact_page.title}</span></strong>".html_safe, contact_path %>
        </li>
      <% end %>

      <li class="social_item">
        <ul>
          <% unless configuration.facebook.blank? %>
            <li class="facebook_item">
              <%= link_to 'Facebook', configuration.facebook, :target => '_blank' %>
            </li>
          <% end %>
          <% unless configuration.twitter.blank? %>
            <li class="twitter_item">
              <%= link_to 'Twitter', configuration.twitter, :target => '_blank' %>
            </li>
          <% end %>
          <li class="rss_item">
            <%= link_to 'RSS', feed_url %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- MAIN NAVIGATION END -->

  <%= yield :banner %>

  <div id="big_content">
    <%= yield :content %>

    <!-- FOOTER BEGIN -->
    <div id="footer_wrapper">
      <div id="footer">
        <% if configuration.footer %>
          <div id="footer_info">
            <%= configuration.footer.html_safe %>
          </div>
        <% end %>

        <ul id="footer_sections">
          <li id="partners_list">
            <h3>Parceiros</h3>

            <ul>
              <% Blog.all.each do |b| %>
                <li><%= link_to b.name, posts_blog_path(b) %></li>
              <% end %>
            </ul>
          </li>

          <% unless (sponsors = Sponsor.all).empty? %>
            <li id="sponsors_list">
              <h3>Patrocinadores</h3>

              <ul>
                <% sponsors.each do |s| %>
                  <li><span>
                    <% if s.link %>
                      <a href="<%= s.link %>" target="_blank">
                        <% if s.image.exists? %>
                          <%= image_tag s.image.url(:small), :alt => s.name %>
                        <% else %>
                          <%= s.name %>
                        <% end %>
                      </a>
                    <% else %>
                      <% if s.image.exists? %>
                        <%= image_tag s.image.url(:small), :alt => s.name %>
                      <% else %>
                        <%= s.name %>
                      <% end %>
                    <% end %>
                  <% end %>
                </span></li>
              </ul>

              <p class="next">Próximo</p>
              <p class="previous">Anterior</p>
            </li>
          <% end %>

          <% if configuration.realization_image %>
            <li id="implementation">
              <h3>Realização</h3>

              <ul>
                <li><%= link_to image_tag(configuration.realization_image.url(:normal), :alt => configuration.realization_title, :size => '250x56'),
                  configuration.realization_url, :target => '_blank' %></li>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- FOOTER END -->
  </div>

</div>
</body>

</html>
